@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-blue-800);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.container {
  background-color: var(--color-white);
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__image-wrapper {
  width: 100%;
}

.form__image {
  width: 100%;
}

.form__image--tablet, .form__image--desktop {
  display: none;
}

.form__content {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  color: var(--color-blue-800);
}

.form__title {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
  line-height: 100%;
  margin-bottom: 24px;
}

.form__description {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 150%;
  margin-bottom: 24px;
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.form__list-item {
  display: flex;
  flex-direction: row;
}

.form__list-icon {
  width: 21px;
  height: 21px;
  margin-right: 16px;
}

.form__list-text {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 150%;
}

.form__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.form__label {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  line-height: 150%;
}

.form__error {
  display: none;
  color: var(--color-red);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  line-height: 150%;
}

.form__input {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 150%;
  color: var(--color-blue-800);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  margin-bottom: 24px;
  width: 100%;

  &::placeholder {
    color: var(--color-grey);
  }
}

.form__input--error {
  border: 1px solid var(--color-red);
  background-color: var(--color-red-light);
}

.button {
  padding: 16px 40px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 150%;
  color: var(--color-white);
  background: var(--color-blue-800);
  border: 1px solid var(--color-blue-800);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;

  &:active {
    background: var(--color-gradient);
    border: none;
  }

  &:hover {
    background: var(--color-gradient);
    border: none;
  }
}

.hidden {
  display: none !important;
}

.success {
  display: flex;
  flex-direction: column;
  padding: 140px 24px;
  color: var(--color-blue-800);
  height: 100vh;
  justify-content: space-between;
}

.success__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.success__icon {
  width: 64px;
  height: 64px;
}

.success__email {
  font-weight: var(--font-weight-bold);
}

footer {
  background-color: var(--color-white);
  padding: 16px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {

  .container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 730px;
    margin: 80px auto;
    border-radius: 32px;
    overflow: hidden;
  }

  .container.container--success {
    max-width: 504px;
    max-height: 520px;
    display: block;
    margin: 0 auto;
  }

  .container--success .success {
    height: auto;
    padding: 64px;
    justify-content: flex-start;
  }
  
  .container--success .success__content {
    margin-bottom: 40px;
  }

  .form {
    padding: 40px;
    width: 100%;
  }

  .form__image-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .form__image--mobile {
    display: none;
  }

  .form__image--tablet {
    display: block;
  }

  .form__content {
    padding: 40px 0 0 0;
  }

  .form__title {
    font-size: 56px;
  }

  footer {
    background-color: var(--color-blue-800);
    padding: 16px;
  }

  .success__title {
    font-size: 56px;
  }

  .attribution {
    color: var(--color-white);
  }

  .attribution a {
    color: hsl(228, 60%, 68%);
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 910px;
  }

  .form {
    display: flex;
    flex-direction: row-reverse;
    gap: 64px;
  }

  .form__content {
    padding: 0px;
    justify-content: center;
  }

  .form__image-wrapper {
    max-width: 400px;
  }

  .form__image--tablet {
    display: none;
  }

  .form__image--desktop {
    display: block;
  }
}