@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-grey: hsl(0, 0%, 58%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-red: hsl(4, 100%, 67%);

  --color-gradient: linear-gradient(
    to right,
    hsl(15, 100%, 61%),
    hsl(346, 100%, 66%)
  );

  --font-family: 'Roboto', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}